#{{ ansible_managed }}

uid nslcd
gid nslcd

uri {% for server in groups['server'] %}ldap://{{ server }} {% endfor %}

base {{ openldap_searchdn }}

ldap_version {{ openldap_version }}

binddn {{ openldap_binddn }}
bindpw {{ openldap_proxypw }}
{% if tls == "yes" %}
ssl start_tls
tls_reqcert demand
tls_cacertfile /etc/ldap/certs/cacert.pem
tls_cacertdir /etc/ldap/certs
{% else %}
{% endif %}
