dn: olcDatabase={1}mdb,cn=config
changetype: modify
replace: olcSuffix
olcSuffix: dc={{ openldap_domain_middle }},dc={{ openldap_domain_top }}
-
add: olcSyncRepl
{% for server in groups['server'] %}
olcSyncRepl: rid=10{{ server[-1] }} provider=ldap://{{ server }} binddn="cn=admin,dc={{ openldap_domain_middle }},dc={{ openldap_domain_top }}" bindmethod=simple credentials={{ openldap_adminpw }} searchbase="dc={{ openldap_domain_middle }},dc={{ openldap_domain_top }}" type=refreshOnly interval=00:00:00:10 retry="5 5 300 5" timeout=1 starttls=critical tls_reqcert=try
{% endfor %}
-
add: olcDbIndex
olcDbIndex: entryUUID  eq
-
add: olcDbIndex
olcDbIndex: entryCSN  eq
-
add: olcMirrorMode
olcMirrorMode: TRUE
